.Portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #15306F;
}

.Portfolio_text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.Portfolio_text h1{
    color: #ffffff;
}

.portfolio_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.diff_btn{
    padding: 10px 20px;
    background-color: #2D83EE;
    border-radius: 15px;
    color: #ffffff;

}

.same_btn{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 15px;
    color: #ffffff;

}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.portfolio_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 20px;
}

.arrows{
    font-size: 30px;
    color: #ffffff;
}

.slider h2{
    color: #ffffff;
}

.portfolio_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio_btns1{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #FFFFFF4B;
    color: #f0ececdd;
    border-radius: 5px;
}