@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@400;500&display=swap');
.All{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background-color: #7F167F;
    color: #460C68;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

/*---------Nav--------*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.two{
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.two p{
    padding: 1rem;
    color:#7F167F;
}

.nav_arr{
    font-size: 40px;
    color: #460C68;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.nav_btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}



@media screen and (max-width: 600px){
    .nav{
        flex-direction: row;
    }
    .two{
        flex-direction: column;
        gap: 10px;
    }
    .two p{
        font-size: 20px;
    }
}

/*--head-----*/
.head{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.text_part{
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.big{
    font-family: 'Overpass', sans-serif;
    font-weight:bold;
    font-size: 60px;
    text-align:left;
    background-image: url(../../assets/third.gif);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small{
    font-size: 20px;
    margin-top: -10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 30%;
}

.button_part {
    display: flex;
    gap: 30px;
}



@media screen and (max-width: 600px) {
    .head{
        flex-direction: column-reverse;
        margin-top: 20px;
        gap: 10px;
    }
    .img_part{
        background-color: #D6E4E5;
        width: 200px;
        height: 220px;
        
    }
    .heading{
        top: 40%;
        left: 26%;
    }
    
}



@media only screen and (max-width: 2000px){
    .nav_btn{
        visibility: visible;
        opacity: 1;
    }
    .two{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F56EB3;
        gap: 1.5rem;
        transition: 1s;
        transform: translateX(170vh);
        font-size: 1.5rem;
        z-index: 10;
    }
    .nav .responsive_nav{
        transform: none;
    }

}


@media screen and (max-width: 1024px){
    
   
    .head{
        gap: 40px;
    }
    .two{
        width: 100%;
    }

}
