.Hashing{
    background-color: #15306F;
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.Hash_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hash1{
    width: 300px;
}

.Hash_text p{
    color: #ffffff;
    font-size: 12px;
}

.hash2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hash_input{
    background-color: #0c1b3f;
    color: #29D089;
    width: 80%;
    padding: 10px 40px;
    text-align: left;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    .Hashing{
    flex-direction: column;
    gap: 20px;
    }
    .hash_img2{
   width: 230px;
    
    }
    .Hash_text{
        gap: 20px;
    }
    
    
    .Hash_text p{
        font-size: 10px;
    }
    
    .hash2{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .hash_input{
        background-color: #0c1b3f;
        width: 70%;
        padding: 8px 30px;
        text-align: left;
        border-radius: 7px;
    }
}
