.blue{
    background-color: #2D83EE;
    width: 80%;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.blue_text{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blue_text h1{
    color: #ffffff;
    line-height: 45px;
    font-size: 40px;
}

.blue_text p{
    color: #ffffff;
}

.blue_btn1{
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 3px 9px #39140014;
    border-radius: 6px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.blue_btn1:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}


.blue_img1{
    width: 300px;
}

@media screen and (max-width: 1024px){

    .blue_text h1{
        font-size: 30px;
    }
    
    .blue_text p{
        color: #ffffff;
        line-height: 20px;
    }

    .blue_img1{
        width: 240px;
    }
}

@media screen and (max-width: 600px){
    .blue{
        width: 92%;
        height: auto;
        flex-direction: column;
    }
    .blue_text{
        gap: 1.5rem;
    }
    
    .blue_text h1{
        color: #ffffff;
        line-height: 30px;
        font-size: 25px;
    }
    .blue_btn1{
        padding: 8px 15px;
    }
  
}